body{
    color: black;
}
div{
    border-radius: 20%;
    background-color: white;
    align-items: center;
    place-items: center;
    height: 200px;
    width: 200px;
}
.cade{
  color: red;
  height: 200px;
  width: 200px;
  background-color: green;  
}

