body{
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: #2596be;
}
.div {
    background-color: gray;
    height: 100px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border-radius: 4%;
    border: solid;
    border-color: black;
    transition: height 0.3s ease;
    transition: border-radius 0.3s ease;
    max-height: 550px; 
    overflow-y: auto; 
}

.dados{
    text-align: center;
}
.Meio{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
.lista{
    background-color: #145369;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 500px;
    position: absolute;
    left: 37%;
    justify-content: center;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0, 100);

}

.newdata{
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 50px;
    background-color: white;
    width: 400px;
    color: black;
    line-height: 30px;
}
.name{
    background-color: white
}